<nav class="clearfix" aria-label="Main navigation">
	<ul>
		<li><a id="research-nav" href="/" aria-label="Research"></a></li>
		<li><a id="people-nav" href="people" aria-label="People"></a></li>
		<li><a id="publications-nav" href="publications" aria-label="Publications"></a></li>
		<li><a id="downloads-nav" href="downloads" aria-label="Downloads"></a></li>
		<li><a id="contact-nav" href="contact" aria-label="Contact"></a></li>
	</ul>
	<select aria-label="Navigate to page">
		<option selected="selected">Navigate to...</option>
		<option value="/">Research</option>
		<option value="people">People</option>
		<option value="publications">Publications</option>
		<option value="downloads">Downloads</option>
		<option value="contact">Contact</option>
	</select>
</nav>
