<nav class="clearfix">
	<ul>
		<li><a id="research-nav" href="/" title="research"></a></li>
		<li><a id="people-nav" href="people" title="people"></a></li>
		<li><a id="publications-nav" href="publications" title="publication"></a></li>
		<li><a id="downloads-nav" href="downloads" title="downloads"></a></li>
		<li><a id="contact-nav" href="contact" title="contact"></a></li>
	</ul>
	<select>
		<option selected="selected">Navigate to...</option>
		<option value="/">Research</option>
		<option value="people">People</option>
		<option value="publications">Publications</option>
		<option value="downloads">Downloads</option>
		<option value="contact">Contact</option>
	</select>
</nav>
